h3 {
   text-align: center;
   font-size: 25px;
   color: black;
   font-weight: bold;
}

h4 {
   font-family: 'Days One', sans-serif;
   font-weight: 100;
color: white;
text-align: center;
font-size: 35px;

}

.searchBar {
   margin-bottom: 50px;
   text-align: center;
   

}

.searchBar input {
   height: 50px;
     width: 200px;
}

#submitButton {
   margin-bottom:10px;
}



.fixed-footer {
   background-color: #003b46;
   color:black;
   position: fixed;
   bottom: 0;
   width: 100vw;
   height: 50px;
   text-align: center;
}

.animate-footer-open {
  animation: animateFooterOpen 1.8s forwards;
}

.animate-footer-close {
   animation: animateFooterClosed 1.8s forwards;
 }
body {
   background-color: #003b46;
   
}

h1 {
      font-family: 'Days One', sans-serif;
    text-align:center;
   font-size: 60px;
   margin-top: 0px;
   color: white;
   /* font-family: 'Lalezar', cursive; */
   filter: brightness(100%)


 }

 .headerPhoto {
   color: #def2f1;
   font-family: 'Abril Fatface', cursive;
   background-size: auto;
   opacity: 0.8;


 }
 .gridContainer {
    display:flex;
    flex-direction:row;
}

#copyright {
   margin-top: 50px;

}

 input[type=text] {
   width: 30px;
   box-sizing: border-box;
   border: 2px solid #ccc;
   border-radius: 4px;
   font-size: 16px;
   background-color: white;
   background-image: url('searchIcon.png');
   background-position: 10px 10px; 
   background-repeat: no-repeat;
   padding: 12px 20px 12px 40px;
   /* -webkit-transition: width 0.4s ease-in-out;
   transition: width 0.4s ease-in-out; */
   width: 30%; 
 }

 input[type=text]:focus {
   /* width: 100%; */
 }
 .eventContainer{
   background-color: #D9b08c;
   /* width: 33%;
   height: 800px;
   grid-column: 1 / 4;
   grid-row: 1 / 3; */
   flex-basis: 33%;
   height:800px;
   color: black;
   overflow-y: scroll;
  border-radius: 25px;
  background-position: left top;
  background-repeat: repeat;
  /* font-family: 'Bree Serif', serif; */
  font-family: 'DM Serif Text', serif;

  margin-top: 15px;
  
 }
 form {
    text-align: right;
 }
 .mapPlacement {
     /* grid-column: 2 / 4;
     grid-row: 1 / 3;
     height: 800px; */
      height:800px;     
     flex-basis: 66%;
     margin-bottom: 65px;
     margin-top: 15px;
     margin-left: 15px;
     -moz-border-radius: 20px;
-webkit-border-radius: 20px;
border-radius: 20px; /* future proofing */
-khtml-border-radius: 20px;
 }
 .eventNearMe:hover {
    background: gray
 }
 .modal {
   display: none; /* Hidden by default */
   z-index: 1; /* Sit on top */
   width: 100%; /* Full width */
   height: 100%; /* Full height */
   overflow: auto; /* Enable scroll if needed */
   background-color: rgb(0,0,0); /* Fallback color */
   background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
   font-family: 'Bree Serif', serif;

 }
 
#modalTitle {
color: black;
font-family: 'DM Serif Text', serif;

}



 /* Modal Content */
 .modal-content {
   background-color: #d1d7e0;
   margin: auto;
   padding: 20px;
   border: 1px solid #888;
   width: 50%;
   max-height: 400px;
   overflow-y: scroll;
   font-size: 15px;
 }
 
 /* The Close Button */
 .close {
   color: #aaaaaa;
   float: right;
   font-size: 28px;
   font-weight: bold;
 }
 
 .close:hover,
 .close:focus {
   color: #000;
   text-decoration: none;
   cursor: pointer;
 }
 .chatInp {
    float: right;
 }
 .chatSubmit {
    float: right;
 }
#eventDisplay {
   height: 200px;
   width: 250px;
   margin-top: 15px;
}

#submitButton {
background: #B9DFFF;
color: #fff;
border: 10px solid #eee;
border-radius: 20px;
text-shadow:none;
position: inline;
margin-top: 10px;
}

#submitButton:hover {
background: #016ABC;
color: #fff;
border: 10px solid #eee;
border-radius: 20px;
/* box-shadow: 5px 5px 5px #eee; */

text-shadow:none;

}
.headerPhoto {
   width: 100%;
    height:340px;  
   opacity: .8;
   background-image: url("HeaderPhoto.jpg")
}


@keyframes animateFooterOpen {
   0% {
      height: 50px;
   }
   100% {
      height:100vh;
   }
}

@keyframes animateFooterClosed {
   0% {
      height:100vh;
   }
   1000% {
      height: 50px;
   }
}

@media screen and (max-width: 980px) {
   input[type=text] {
      float: left;
      width: 100%;
   }

}

@media screen and (max-width: 768px){
   .mapPlacement {
      width: 100%;
   }
}

@media screen and (max-width: 640px){
   .searchBar {
       position: center; 
       width: 100%;
   }
   .mapPlacement{
      flex-basis: 100%;
     
   }
   .eventContainer{
      flex-basis: 100%;
      /* width: 100% */
   }
   .gridContainer {
      flex-wrap: wrap-reverse
   }
   .search {
      float: left;
   }

} 

.searchBar {
   margin-bottom: 50px;
   text-align: center;
}

.searchBar input {
   height: 50px;
     width: 200px;
}

#submitButton {
   margin-bottom:10px;
}


